.footer-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid #eaeaea;
	font-size: smaller;
	margin-top: 70px;
	width: 80%;
	margin-inline: 20px;
}
.footer-text {
	margin: 0px;
}
.github__container {
	display: flex;
	width: 200px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.github-logo {
	width: 60px;
	height: 60px;
	margin: 0px;
}
.github-profile-container {
	display: flex;
	flex-direction: column;
}
