.labels-intro {
  text-align: left;
  margin-left: 10px;
}

.labels-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  list-style: none;
  height: 50px;
}

.labels-list_item {
  margin-inline: 10px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 5px 10px;
}

.labels_addbar {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  margin: 0 10px;
  font-size: larger;
  padding: 0 10px;
  background-color: transparent;
  color: #eaeaea;
}

.remove-button {
  padding:0px 5px;
  margin-left: 8px;
}

.label-list_dropdown {
  min-width: 100px;
  height: 35px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  background: transparent;
  color: #eaeaea;
  margin-left: 30px;
  padding-inline: 20px;
}

.voted {
  box-shadow: 1px 1px 5px 1px rgba(217, 61, 253, 0.659);
}