.review-area {
	padding: 10px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
}

.review-area__existing-reviews {
	width: 100%;
}

.review-item {
	list-style: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	text-align: left;
	padding: 10px 40px;
	margin-bottom: 20px;
}

.review-item__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -20px;
	align-items: center;
	font-size: larger;
}

.add-review-area {
	display: flex;
	flex: 1 1 100%;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.review__text-input {
	width: 80%;
	max-width: 500px;
	height: 40px;
	font-size: larger;
	border-radius: 5px;
	margin-left: 40px;
	border: 1px solid #eaeaea;
}

.review__rate-input {
	width: 50px;
	height: 40px;
	font-size: larger;
	border-radius: 5px;
	margin-left: 10px;
	border: 1px solid #eaeaea;
}

.reviews-button-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	justify-content: flex-end;
}

.reviews-button {
	margin: 5px;
}
.save {
	width: 80px;
}
.edit-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.edit-container__textarea {
	width: 100%;
	height: 60px;
	border-radius: 5px;
}
.review-profile-area{
	width: 100%;
}
.review-form-area {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex: 1 1 100%;
}
.review-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.review-area {
		width: 100%;
		padding: 0px;
	}
	.review-item {
		padding: 10px 20px;
	}
	.review__text-input {
		width: 100%;
	}
	.reviews-button-area {
		justify-content: flex-start;
	}
	.reviews-button {
		margin: 5px;
	}
	.save {
		width: 80px;
	}
	.review-form-area {
		flex-direction: column;
		width: 90%;
	}
	.add-review-area {
		flex-direction: column;
	}
	.review__text-input {
		width: 90%;
		max-width: 90%;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.edit-container__textarea {
		width: 90%;
		max-width: 90%;
	}
}
