#root {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	text-align: center;
}

.img {
	width: 300px;
	height: 400px;
	object-fit: cover;
	border-radius: 10px;
}

#bubbleDiagram {
	background-color: #242424;
	width: 1000px;
	height: 700px;
	position: relative;
	cursor: auto;
}

.canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	touch-action: none;
	cursor: auto;
	background-color: black;
}

/* feng area */

.search-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;
	flex: 1 1 100%;
}

.search_searchbar {
	height: 35px;
	border-radius: 10px;
	border: 1px solid #eaeaea;
	margin: 0 10px;
	font-size: larger;
}

.cards-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.home-label-card {
	width: 200px;
	height: 600px;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: fill;
	transition: width 0.3s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.659);
}
.home-label-card:hover {
	width: 400px;
	transition: width 0.3s ease-in-out;
}
.home-label-card-header {
	font-size: larger;
	cursor: pointer;
	text-shadow: 1px 1px 2px #242424;
}

.home-label-card-list {
	list-style: none;
	text-align: center;
	height: 250px;
	overflow: hidden;
	cursor: pointer;
	font-size: larger;
	overflow: scroll;
	transition: max-height 0.3s ease;
}
.home-label-card-item {
	margin-left: -35px;
}
.home-label-card-item a {
	color: white;
	text-shadow: 1px 1px 2px #242424;
}
.media-card-list.open {
	max-height: 300px;
}

.invalid-input {
	color: rgb(241, 44, 44);
	font-size: 20px;
	margin: 0px;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
	}
	.header-user-container {
		flex-direction: row;
	}
	.header-login-username {
		margin-right: 0px;
	}
	.dropdown-menu {
		top: 109px;
		right: 0px;
	}
	.cards-area {
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	.home-label-card {
		width: 350px;
		height: 400px;
		padding-inline: 20px;
	}
	.home-label-card-item {
		font-size: smaller;
	}
}
