#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

/* .story-bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: palegreen;
} */

/* .label-bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: palevioletred;
} */

/* @keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
} */

.img {
	width: 300px;
	height: 400px;
	object-fit: cover;
	border-radius: 10px;
}

#bubbleDiagram {
	background-color: #242424;
	width: 1000px;
	height: 700px;
	position: relative;
	cursor: auto;
}

.canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	touch-action: none;
	cursor: auto;
	background-color: black;
}

/* feng area */

.header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 1rem 0;
	border-bottom: 2px solid #eaeaea;
	width: 1000px;
	margin-bottom: 70px;
	align-items: center;
}
.header-username {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.header-login-username {
	margin-right: 20px;
}

.search-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.search_searchbar {
	width: 300px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid #eaeaea;
	margin: 0 10px;
	font-size: larger;
}

.cards-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 1000px;
}

.media-card {
	width: 150px;
	height: 400px;
	border-radius: 10px;
	border: 1px solid #eaeaea;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: width 0.3s ease-in-out;
}
.media-card:hover {
	width: 300px;
	transition: width 0.3s ease-in-out;
}
.media-card-header {
	cursor: poiner;
}

.media-card-list {
	list-style: none;
	text-align: left;
	max-height: 0px;
	overflow: hidden;
	cursor: pointer;
	font-size: larger;
	transition: max-height 0.3s ease;
}
.media-card-item a {
	color: white;
}
.media-card-list.open {
	max-height: 300px;
}

.invalid-input {
	color: rgb(241, 44, 44);
	font-size: 14px;
	margin: 0px;
	padding: 0;
}
